{%- comment -%}
  This file has been modified by the Yoast SEO for Shopify app.
  You can learn more about this (and learn how to cleanly revert these changes) at https://yoa.st/removing-theme-changes.
{%- endcomment -%}
<!doctype html>
<html
  class="no-js{% if settings.theme_mode_default == "dark" %} dark{% endif %}"
  lang="{{ request.locale.iso_code }}"
  {% if settings.lang_direction contains request.locale.iso_code %}
    dir="rtl"
  {% endif %}
>
  <head>
{% include 'limespot' %}
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    {% if settings.show_canonical_url_collection and template.name == 'collection' %}
      {%- comment -%}Auto-disabled. Yoast plugin is taking care of Meta Tags output.{%- endcomment -%}
      {%- if disabled_by_yoast_seo -%}
        <link rel="canonical" href="{{ canonical_url | split: '?' | first }}">
        {%- comment -%} End Yoast auto-disable. {%- endcomment -%}
      {%- endif -%}
    {% else %}
      {%- comment -%}Auto-disabled. Yoast plugin is taking care of Meta Tags output.{%- endcomment -%}
      {%- if disabled_by_yoast_seo -%}
        <link rel="canonical" href="{{ canonical_url }}">
        {%- comment -%} End Yoast auto-disable. {%- endcomment -%}
      {%- endif -%}
    {% endif %}

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    {%- comment -%}Auto-disabled. Yoast plugin is taking care of SEO output.{%- endcomment -%}
    {%- if disabled_by_yoast_seo -%}
      <title>
        {{ page_title }}
        {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
        {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
        {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
      </title>
      {%- comment -%} End Yoast auto-disable. {%- endcomment -%}
    {%- endif -%}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    {% if template contains "product" %}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />
      <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    {% endif %}

    {% if page_description %}
      {%- comment -%}Auto-disabled. Yoast plugin is taking care of Meta Tags output.{%- endcomment -%}
      {%- if disabled_by_yoast_seo -%}
        <meta name="description" content="{{ page_description | escape }}">
        {%- comment -%} End Yoast auto-disable. {%- endcomment -%}
      {%- endif -%}
    {% endif %}

    {% liquid
      render 'meta-tags'
      render 'font-face'
      echo 'theme.css' | asset_url | stylesheet_tag: preload: true
      render 'css-variables'
      render 'theme-mode-control'
    %}
    {% liquid
      echo 'custom.css' | asset_url | stylesheet_tag: preload: true
    %}
    {% if request.page_type == 'policy' %}
      {{ 'page.css' | asset_url | stylesheet_tag: preload: true }}
    {% endif %}
    <!-- OutlinkStickyBtn CODE Start -->
    {% if template.name == 'product' %}{% render ('outlink-sticky') %}{% endif %}
    <!-- OutlinkStickyBtn END -->
    {{ content_for_header }}
    {{ settings.additional_head }}

    

<!-- Add this to layout/theme.liquid before closing head tag-->

{%- if customer.metafields.sparklayer.authentication -%}
<!-- Anything inside here only shows for logged in customers-->
<!-- Start of SparkLayer core script-->
<script>
window.sparkOptions = {
  siteId: "americantiledepot",
  platform: "shopify",
  rootUrl: {{ routes.root_url | json }},
  language: {{ request.locale.iso_code | json }},
  accountRedirect: {
    urlRegex: /\/account/g,
    goTo: "/index", // page to redirect logged in users to
  },
  auth: {
    user: {{ customer.email | json }},
    token: {{ customer.metafields.sparklayer.authentication | json }},
  },
};
</script>
<script async src="https://sparkcdn.io/sparkjs/americantiledepot/live"></script>
<!-- End of SparkLayer core script-->
  <!-- SparkLayer Sample CSS Code -->
<style type="text/css">
  :root {
    /* Set the brand styling */
    --b2b-brand-color:  #204a80; /* Main brand colour*/
    --b2b-brand-color-hover: #333; /* Main brand colour hover */
    --b2b-brand-font: HelveticaNeue, sans-serif; /* Main brand font */
    --b2b-brand-font-heading: HelveticaNeue, sans-serif; /* Main brand heading font */

    /* Update colours */
    --spark-default-body-color: #555555; /* Main body colour*/
    --spark-primary-color: #000000; /* Main title colour*/
    --spark-secondary-color: var(--b2b-brand-color); /* Main highlight colour*/
    --spark-link-color: var(--b2b-brand-color); /* Link colour*/

    /* Typefaces */
    --spark-font-default: var(--b2b-brand-font); /* Body typeface*/
    --spark-font-highlight: var(--b2b-brand-font-heading); /* Highlight typeface*/
    --spark-font-weight-default: 400; /* Default font weight*/
    --spark-font-weight-medium: 500; /* Medium font weight*/
    --spark-font-weight-heavy: 600; /* Bold font weight*/

    /* General */
    --spark-border-radius-default: 0; /* Default border radius*/
    --spark-drawer-max-width: 700px; /* Width of overlay*/
    --spark-drawer-max-width-wide: 1000px; /* Width of overlay in maximised view*/

    /* Font sizes */
    --spark-font-default-size: 14px; /* Default font size*/
    --spark-font-default-size-small: 14px; /* Default font size - small screens*/
    --spark-header-font: var(--b2b-brand-font-heading); /* Header typeface*/
    --spark-header-font-weight: 500; /* Header font weight*/
    --spark-h1-fontsize: 24px; /* Header 1 font size*/
    --spark-h2-fontsize: 22px; /* Header 2 font size*/
    --spark-h3-fontsize: 20px; /* Header 3 font size*/
    --spark-h4-fontsize: 16px; /* Header 4 font size*/
    --spark-h5-fontsize: 15px; /* Header 5 font size*/
    --spark-h6-fontsize: 14px; /* Header 6 font size*/

    --spark-pricing-fontsize: 16px; /* Font size of pricing*/
    --spark-pricing-font-weight: 500; /* Font weight of pricing*/
    --spark-pricing-fontsize-small: 14px; /* Font size of pricing on mobile*/

    --spark-product-code-fontsize: 16px; /* Font size of product code*/
    --spark-product-code-font-weight: 500; /* Font weight of product code*/
    --spark-product-code-fontsize-small: 14px; /* Font size of product code on mobile*/
    --spark-product-stockstatus-align: flex-start; /* Aligment of stock status for single variants*/

    /* Buttons */
    --spark-button-font-family: var(--b2b-brand-font-heading); /* Button typeface*/
    --spark-button-color: var(--b2b-brand-color); /* Default sutton colour*/
    --spark-button-color-highlight: var(--b2b-brand-color-hover); /* Default button colour hover*/
    --spark-button-large-color: var(--b2b-brand-color); /* Large button colour*/
    --spark-button-large-color-highlight: var(--b2b-brand-color-hover); /* Large button colour hover*/
    --spark-border-radius-button: 0; /* Button border radius*/
    --spark-button-font-weight: 600; /* Button font weight*/
    --spark-button-text-transform: none; /* Button text transform*/
    --spark-button-text-letter-spacing: 0; /* Button letter spacing*/
    --spark-button-padding: 1em 2.75em; /* Button padding*/
    --spark-button-small-font-size: 16px; /* Small button font size*/

    /* Tables */
    --spark-table-border-color: #CCCCCC; /* Table border colour*/
    --spark-table-header-background-color: #F1F1F1; /* Table header background*/
    --spark-table-header-text-color: #222222; /* Table header font colour*/
    --spark-table-header-font-weight: 500; /* Table header font weight*/

    /* Product Card */
    --spark-product-card-button-radius: 0; /* Button radius*/
    --spark-product-card-button-padding: 0.75em 1em; /* Button padding*/
    --spark-product-card-pricing-font-size: 15px; /* Pricng font size*/
    --spark-product-card-pricing-font-size-small: 14px; /* Pricng font size on mobile*/
    --spark-product-card-select-min-height: 0; /* Set a min-height for select menu*/

  }

  
  .CartDrawer,
  .lb-vd-container,
  .top-left-container,
  .docapp-single-shipping-calculator,
  .docapp-widget,
  .product-samples-button,
  .shopify-buy-frame,
  .docapp-shipping-show-trigger,
  .js-qty,
  .is-visible~#ajaxifyCart-overlay,
  #ajaxifyModal,
  #docapp-int-11751 {
    display: none !important;
  }
</style>
<!-- End SparkLayer Sample CSS Code -->
{%- endif -%}

    <style>
      #mini-cart-upsell .mini-card-product--samples {
        display: none !important;
      }
      {% unless product.available %}
        .product-samples-button-wrap {
          display: none !important;
        }
      {% endunless %}
    </style>

  </head>
  <body
    class="gradient  overflow-x-hidden text-[{{ settings.text_base_size | times: 0.007875 }}rem] md:text-[{{ settings.text_base_size | times: 0.00875 }}rem]{% if settings.lang_direction contains request.locale.iso_code %} rtl{% endif %}"
    x-data
    :class="$store.xPopup.open && 'overflow-hidden padding-scrollbar'"
  >
    <a
      class="skip-to-content absolute -z-10 button button-solid hidden lg:block pt-2.5 pb-2.5 pl-6 pr-6 lg:pt-3 lg:pb-3 mt-0.5 ml-0.5 leading-normal justify-center cursor-pointer focus-visible:z-60"
      href="#MainContent"
    >
      {{ 'accessibility.skip_to_text' | t }}
    </a>

    {% case settings.selected_preset %}
      {% when 'breath' %}
        {% sections 'header-group-breath' %}
      {% when 'swirl' %}
        {% sections 'header-group-swirl' %}
      {% when 'whiff' %}
        {% sections 'header-group-whiff' %}
      {% when 'puff' %}
        {% sections 'header-group-puff' %}
      {% else %}
        {% sections 'header-group' %}
    {% endcase %}

    <main
      id="MainContent"
      class="content-for-layout focus-none outline-none theme-template-{{ template.name }} theme-template-suffix-{{ template.suffix | default: 'none' }}"
      role="main"
      tabindex="-1"
    >
      {{ content_for_layout }}
<limespot></limespot>
    </main>

    {% case settings.selected_preset %}
      {% when 'breath' %}
        {% sections 'footer-group-breath' %}
      {% when 'swirl' %}
        {% sections 'footer-group-swirl' %}
      {% when 'whiff' %}
        {% sections 'footer-group-whiff' %}
      {% when 'puff' %}
        {% sections 'footer-group-puff' %}
      {% else %}
        {% sections 'footer-group' %}
    {% endcase %}

    {% case settings.selected_preset %}
      {% when 'breath' %}
        {% sections 'aside-group-breath' %}
      {% when 'swirl' %}
        {% sections 'aside-group-swirl' %}
      {% when 'whiff' %}
        {% sections 'aside-group-whiff' %}
      {% when 'puff' %}
        {% sections 'aside-group-puff' %}
      {% else %}
        {% sections 'aside-group' %}
    {% endcase %}

    {% if settings.enable_scroll_top_desktop or settings.enable_scroll_top_mobile %}
      {% render 'scroll-to-top' %}
    {% endif %}

    <ul hidden>
      <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
      <li id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</li>
    </ul>

    <script>
      window.Eurus = {
        sliderScript: '{{ 'splide4.1.3.js' | asset_url }}',
        cart_error: `{{ 'sections.cart.cart_error' | t }}`,
        cart_quantity_error_html: '{{ 'sections.cart.cart_quantity_error_html' | t: quantity: '[quantity]' }}',
        loadedScript: [],
        cart_add_url: '{{ routes.cart_add_url }}'
      };
    </script>
    {{ 'ajaxify.css' | asset_url | stylesheet_tag }}
    {{ 'ajaxify.js' | asset_url | script_tag }}
    {{ 'spreadrwidget.js' | asset_url | script_tag }}
    <!-- 
    <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"
    ></script> -->
    {%- if request.design_mode -%}
      <script src="{{ 'theme-editor-alpine-custom.js' | asset_url }}" defer></script>
      <script src="{{ 'theme-editor.js' | asset_url }}" defer></script>
    {%- endif -%}
    <script src="{{ 'jquery.js' | asset_url }}" defer></script>
    <script src="{{ 'theme.js' | asset_url }}" defer></script>
    <script src="{{ 'vendors.js' | asset_url }}" defer></script>

    {% render 'popups' %}

   

    <script>
      window.addEventListener("load", (event) => {
        deferScriptLoad('instant.page', '{{ 'instant.page.v5.1.1.js' | asset_url }}', () => {}, true);
      });
    </script>


    <!-- **BEGIN** Hextom FSB Integration // Main Include - DO NOT MODIFY -->
    {% render 'hextom_fsb_main', product: product, customer: customer %}
    <!-- **END** Hextom FSB Integration // Main Include - DO NOT MODIFY -->
    <style>
      .sold-by {
      display: flex;
      margin: 10px 0;
      color: #2f2f2f;
      justify-content: center;
      }
    </style>
    <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/mJcMHu3TQ8Y8YW6mVRrtdGwVa48lPPJTHuSztL5s" async></script>
  </body>
</html>
